{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="ログアウト">
    </form>
{% else %}
    <a href="{% url 'login' %}">ログイン</a>
{% endif %}


<h1>Todoリスト</h1>
<a href="{% url 'create-task' %}">Taskの追加</a>

<form method="get">
    <input type="text" name="search" value="{{ search }}">
    <input type="submit" value="検索">
</form>

<table>
    <tr>
        <th>Task</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task' task.id %}">確認</a></td>
        <td><a href="{% url 'edit-task' task.id %}">編集</a></td>
        <td><a href="{% url 'delete-task' task.id %}">削除</a></td>
    </tr>
    {% endfor %}
</table>